<section class="cards px-5">
  <div class="cards__item">
    <h2 class="cards__title">RESERVATION</h2>
    <p class="cards__text">
      r since the 1500s, when an unknown printer took a galley of type…
    </p>
    <a href="#" class="cards__button cards__button--secondary">
      JE RÉSERVE
    </a>
  </div>
  <div class="cards__item">
    <h2 class="cards__title">L’ACADEMY</h2>
    <p class="cards__text">
      r since the 1500s, when an unknown printer took a galley of type…
    </p>
    <a href="#" class="cards__button cards__button--primary">
      EN SAVOIR PLUS
    </a>    
  </div>
  <div class="cards__item">
    <h2 class="cards__title--color cards__title">LE SHOP</h2>
    <p class="cards__text">
      r since the 1500s, when an unknown printer took a galley of type…
    </p>
    <a href="#" class="cards__button cards__button--tertiary">
      EN SAVOIR PLUS
    </a>
  </div>
</section>
