{# templates/partials/_location.html.twig #}
<section class="location">
  <div class="px-5">
    <h2 class="location__title">Nos Emplacements</h2>
    <p class="location__subtitle">Retrouvez-nous à notre salon.</p>
    <p class="location__hours">
      lundi au samedi de 9h à 20h – 
      tél : <a href="tel:0478520324">04 78 52 03 24</a>
    </p>

    <div class="location__map">
      <a
        href="https://www.google.com/maps/search/?api=1&query=3+Rue+Henri+IV,+69002+Lyon,+France"
        target="_blank"
        rel="noopener"
      >
        <iframe
          src="https://maps.google.com/maps?q=3+Rue+Henri+IV,+69002+Lyon,+France&output=embed"
          width="100%"
          height="400"
          frameborder="0"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </a>
    </div>
  </div>
</section>
