.barber-card-wrapper
  .barber-card
    background: #000
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    border: 2px solid $gold
    transition: border-color .3s
    padding: 1rem
    color: #fff
    min-height: 6rem

    .select-icon
      position: absolute
      top: 50%
      right: 1rem
      transform: translateY(-50%)
      width: 1.25rem
      height: 1.25rem
      border: 2px solid $gold
      border-radius: 50%
      transition: border-color .3s, background-color .3s

  // règle pour changer la bordure et le rond quand on coche
  .barber-input:checked + .barber-card
    border-color: #fff

    .select-icon
      border-color: #fff
      background-color: #fff
