<header class="header{% if headerMode %} header--{{ headerMode }}{% endif %}">
  <div class="container-fluid header__container">
    <a href="#" class="header__logo">
      <img src="{{ asset('images/logo_chrisbarber.png') }}" alt="ChrisBarber Shop">
    </a>

    <nav class="header__nav">
      <a href="#" class="header__nav-link header__nav-link--active">Accueil</a>
      <span class="header__separator" aria-hidden="true"></span>
      <a href="reservation" class="header__nav-link">Reservation</a>
      <span class="header__separator" aria-hidden="true"></span>
      <a href="#" class="header__nav-link">L’Academy</a>
      <span class="header__separator" aria-hidden="true"></span>
      <a href="#" class="header__nav-link">Le shop</a>
    </nav>

    <a href="#" class="header__user-icon">
      <img src="{{ asset('images/icon_user.png') }}" alt="Utilisateur">
    </a>
  </div>
</header>
